#main-slider-container {
  width: 100%;
  height: 305px;
}

#slider {
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#slider::-webkit-scrollbar {
  display: none;
}

#main-slider-container {
  position: relative;
  display: flex;
  align-items: center;
}
